@model IEnumerable<L02P02_2021PC602_2021VA650.Models.ComentariosLibro>

@{
    ViewData["Title"] = "Listado de Comentarios Por Libros";
}

<div></div>
<div class="container">
    <ul class="progressbar">
        <li>Autores</li>
        <li >Libros</li>
        <li >Comentarios Existentes</li>
        <li class="active">Nuevo Comentario</li>
    </ul>
</div>
</div>

<div class="border border-1 p-4 rounded rounded-1 m-5" style="margin-top:auto">
    <h1 style="color:#504cca">Libro Seleccionado: @ViewData["nombrelibro"]</h1>
    <h1 style="color:#504cca">Autor: @ViewData["nombreautor"]</h1>
</div>
<div class="container">
    <h1>Comentarios del Libro</h1>
    <hr />
    <div></div>
    <div class="container">
        <ul class="progressbar">
            <li>Autores</li>
            <li>Libros</li>
            <li class="active">Comentarios Existentes</li>
            <li>Nuevo Comentario</li>
        </ul>
    </div>

    <div class="d-flex col-12 mt-5">
        <div class="col-6">
            <h2 style="color:#504cca">Comentarios existentes</h2>
            <div class="border border-1 p-4 rounded rounded-1 ">
                <div>
                    @if (Model.Any())
                    {
                        foreach (var comentario in Model)
                        {
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">@comentario.Usuario</h5>
                                    <p class="card-text">@comentario.Comentarios</p>

                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No hay comentarios para este libro.</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <form method="post" asp-action="GuardarComentario" id="comentarioForm">
            <div class="col-5">
                <h2 style="color:#504cca">Agregar un comentario</h2>
                <h4>Comentario</h4>
                <textarea name="comentario" id="comentario" cols="30" style="height:200px; width:100%" rows="100"></textarea>
                <div class="border border-1 p-3">
                    <h3>su comentario fue agregado con exito</h3>
                </div>
            </div>
        </form>
    </div>
</div>
