<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2021PC602_2021VA650</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02P02_2021PC602_2021VA650.styles.css" asp-append-version="true" />
    <link href="~/img/UNICAES_Logo.png" rel="stylesheet" />
</head>
<body>

    <header>
        <div style="background-color: #22252c;">
            <img src="/img/UNICAES_Logo.png" width="100px" height="auto" class="center" />
            <p style="color: aliceblue; text-align: center; font-size: 30px; padding-top: 10px;"> Comentarios por Libros</p>
            <p style="color: aliceblue; text-align: center; font-weight: lighter; font-size: 15px; padding-bottom: 30px; margin-top: -10px;"> Seleccione el autor ->Seleccione el libro -> Se muestran los comentarios existentes -> Adicione un nuevo comentario</p>

        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    <footer style="background-color: #22252c;" >
    <p style="text-align: center; color: aliceblue; font-weight: lighter;"> 2024-20-04 - Oscar Portillo Cerón</p>
    <p style="text-align: center; color: aliceblue; font-weight: lighter;"> 2024-20-04 - Jonathan Uziel Villanueva</p>

    </footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
