@model IEnumerable<L02P02_2021PC602_2021VA650.Models.Autore>

@{
    ViewData["Title"] = "Index";
}

<div></div>
<div class="container">
    <ul class="progressbar">
        <li class="active">Autores</li>
        <li>Libros</li>
        <li>Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>
</div>
</div>

<div class="border border-1 p-4 rounded rounded-1 m-5" style="margin-top:auto">
    <h1 style="color:#504cca">Autor</h1>
    @foreach (var item in Model)
    {
        <div class="d-flex justify-content-between border border-1 p-2 rounded-1">
            <div>
                @Html.DisplayFor(modelItem => item.Autor)
            </div>
            <div>
                <button class="btn btn-success seleccionar-autor" data-id="@item.Id">Seleccionar</button>
            </div>
        </div>
    }

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".seleccionar-autor").click(function () {
                var autorId = $(this).data("id");
                window.location.href = "/Autores/Seleccionar?autorId=" + autorId;
            });
        });
    </script>
}


